body {
    position: relative;
    min-height: 100vh;
    margin: 0;
    font-family:"Inter", 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
}


body::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: url("https://t3.ftcdn.net/jpg/02/97/91/38/360_F_297913876_pxLCVBrLEyznyqdHvNpKmNRPvYWoqlEW.jpg");
    background-size: cover;/* Adjust this value for transparency */
    z-index: -1;
}

h2 {
    color: rgba(209, 72, 8, 0.836);
    text-align: center;
    font-size: 50px;
    border: 10px solid rgba(255, 125, 56, 0.5);
    padding: 20px;
    margin: 20px;
    border-radius: 15px;
    cursor:pointer
}

h2:hover {
    color: rgba(209, 72, 8, 0.836);
    text-align: center;
    font-size: 50px;
    border: 10px solid rgba(255, 125, 56, 0.5);
    padding: 20px;
    background-color: rgba(106, 173, 104, 0.5);
    border-radius: 15px;
    cursor:pointer
}

ul {
    columns: 200px;
    margin: 0;
    padding: 15px;
}


li {
    color: white;
    list-style: none;
    border-radius:  5px;
    justify-content: center;
    font-size: 30px;
    font-weight: bold;

}

a {
    color: white;
    text-decoration: none; /* removes underline */
}