body {
    position: relative;
    min-height: 100vh;
    margin: 0;
    font-family:"Inter", 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
}


body::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: url("https://images.pexels.com/photos/1105389/pexels-photo-1105389.jpeg?cs=srgb&dl=pexels-jplenio-1105389.jpg&fm=jpg");
    background-size: cover;
    opacity: 0.5; /* Adjust this value for transparency */
    z-index: -1;
}

h2 {
    color: rgba(209, 72, 8, 0.836);
    text-align: center;
    font-size: 50px;
    border: 10px solid rgba(255, 125, 56, 0.5);
    padding: 20px;
    margin: 20px;
    border-radius: 15px;
    cursor:pointer
}

h2:hover {
    color: rgba(209, 72, 8, 0.836);
    text-align: center;
    font-size: 50px;
    border: 10px solid rgba(255, 125, 56, 0.5);
    padding: 20px;
    background-color: rgba(106, 173, 104, 0.5);
    border-radius: 15px;
    cursor:pointer
}

ul {
    columns: 200px;
    margin: 0;
    padding: 15px;
}


li {
    list-style: none;
    border-radius:  5px;
    justify-content: center;
    font-size: 30px;
    font-weight: bold;

}

p {
    color: black;
    font-size: 20px;
    padding: 5px;
}

div p {
    color: rgb(14, 75, 12);
    font-size: 25px;
    font-family: "BBH Bartle", sans-serif;
    line-height: 40px;
    border: 10px solid rgba(56, 225, 255, 0.26);
    border-radius: 15px;
}

img {
    float: right;
    width: 200px;
    height:200px;
}

footer {
    clear:both
}