body,
html {
    width: 100%;
    height: 80%;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    background: url("https://t3.ftcdn.net/jpg/02/97/91/38/360_F_297913876_pxLCVBrLEyznyqdHvNpKmNRPvYWoqlEW.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;/* Adjust this value for transparency */
    z-index: -1;
    transition: 3s ease-in-out;
}

nav {
    border-radius: 10px;
    padding: 30px 5px;
    background-color: rgba(26, 24, 24, 0.1);
}

h1 {
    padding-top: 100px;
    color: rgba(255, 255, 255, 0.432);
    font-size: 4rem;
}

p {
    color: rgba(255, 255, 255, 0.432);
    font-size: 2.5em;
}

.buffer {
    height: 5rem;
}   

.btn-fourth {
    background-color: rgba(235, 110, 8, 0.87);
    color: black;
    font-weight: bold;
    font-size: 1.2em;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
}


.btn-break {
    width: 25%;
    border: 4px solid rgb(235, 110, 8);
    margin: 20px auto;
    opacity: 0.7;
}

.btn-fourth:hover{
    background-color: rgba(255, 140, 0, 0.87);
    border-width: 5px;
}